/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: #189A46;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #000c04;
    font-weight: 600;
}

:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

.dark {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

/* Light theme */
#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark #switchButton .fa-sun {
    display: block;
}
  
.dark #switchButton .fa-moon {
    display: none;
}

/* Header */

.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 100;
}

header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}    

.container {
    max-width: 1200px;
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-weight: 600;
    color: var(--primary-color);
}

.navbar .nav-item {
    padding: 0 12px;
}

.navbar .navbar-collapse .nav-link {
    color: var(--heading-color);
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    transition: all 0.3s;
}

.navbar .navbar-collapse .nav-link::before,
.nav-item .dropdown-item::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    background: var(--primary-color);
    bottom: 13px;
    transition: all 0.4s;
}

.navbar .navbar-collapse .nav-link:hover::before,
.nav-item .dropdown-item:hover::before {
    width: 100%;
}

.navbar .navbar-collapse .active a {
    color: var(--primary-color);
}

.navbar .navbar-collapse .nav-link:hover,
.nav-item .dropdown-item:hover {
    color: var(--primary-color);
}

.dropdown-toggle::after {
    display: none;
}

.navbar .dropdown-toggle i {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    padding-right: 2px;
    right: -12px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.dropdown-menu {
    border-radius: 10px;
    width: 13rem;
    padding: 1rem 0 0.3rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    top: -7px;
    left: 50%;
    border-right: 0;
    border-bottom: 0;
    transform: translateX(-50%) rotate(45deg);
}

.nav-item .dropdown-item {
    font-size: 1.2rem;
    position: relative;
    color: var(--heading-color);
    padding-top: 0;
    padding-bottom: 14px;
    width: 100px;
    background-color: var(--bg-color);
    transition: all 0.4s;
}


#switchButton:focus {
    box-shadow: none;
}

.mode-container {
    width: 35px;
    height: 35px;
    padding: 3px 0;
    margin-left: 20px;
    background-color: transparent;
    border: transparent;
}

.mode-container i {
    color: var(--heading-color);
    transform: rotate(342deg);
    font-size: 20px;
}

/* Carousel */

.carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    opacity: .6;
}

.carousel-item h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}

.carousel-item p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
    opacity: 0.9;
    font-size: 1.2rem;
}

.carousel-item .btn {
    background-color: #fff;
    color: #189A46;
    border: 2px solid #fff;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: var(--border-radius);
}

.carousel-item .btn-success {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}

.carousel-item .btn-success:hover {
    background-color: #fff;
    color: #189A46;
}

.carousel-item img {
    width: 100vw;
    height: calc(100vh - 40px);
    object-fit: cover;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0px 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 0;
}

.carousel-indicators .active {
    background-color: #189A46;
    width: 30px;
    height: 10px;
    border-radius: 15px;
}

.carousel-caption2,
.carousel-caption4 {
    margin-left: 25%;
}

/* Aboutus */

.aboutus {
    background-color: var(--bg-color);
}

.aboutus-content {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.title h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
    letter-spacing: 1px;
    line-height: 2em;
}

.title h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
}

.title p {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}

.aboutus-content .read {
    font-size: 17px;
    color: var(--heading-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s;
}

.aboutus-content .read:hover {
    color: var(--primary-color);
}



