
/* File excel tempale-task */
/* https://docs.google.com/spreadsheets/d/1YRgyF7WC1TwP4aWhpEPYOGTL8E4qd3f_mSqYztWBqW4/edit?usp=sharing */


/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: #189A46;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #000c04;
    font-weight: 600;
}

:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

.dark {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

/* Light theme */
#switchMoonSun .fa-sun {
    display: none;
}

#switchMoonSun .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark #switchMoonSun .fa-sun {
    display: block;
}
  
.dark #switchMoonSun .fa-moon {
    display: none;
}


/* Icon bars */
#switchBarTime .fa-bars {
    display: block;
}

#switchBarTime .fa-times {
    display: none;
}

/* Icon times */
.active #switchBarTime .fa-bars {
    display: none;
}
  
.active #switchBarTime .fa-times {
    display: block;
}



/* Header */

.fixed-top {
    top: 40px;
}

header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}    

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-weight: 600;
    color: var(--primary-color);
}

.navbar .nav-item {
    padding: 0 12px;
}

.navbar .navbar-collapse .nav-link {
    color: var(--heading-color);
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    transition: all 0.3s;
}

.navbar .navbar-collapse .nav-link::before,
.nav-item .dropdown-item::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    background: var(--primary-color);
    bottom: 13px;
    transition: all 0.4s;
}

.navbar .navbar-collapse .nav-link:hover::before,
.nav-item .dropdown-item:hover::before {
    width: 100%;
}

.navbar .navbar-collapse .active a {
    color: var(--primary-color);
}

.navbar .navbar-collapse .nav-link:hover,
.nav-item .dropdown-item:hover {
    color: var(--primary-color);
}

.dropdown-toggle::after {
    display: none;
}

.navbar .dropdown-toggle i {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    padding-right: 2px;
    right: -12px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.dropdown-menu {
    border-radius: 10px;
    width: 13rem;
    padding: 1rem 0 0.3rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    top: -7px;
    left: 50%;
    border-right: 0;
    border-bottom: 0;
    transform: translateX(-50%) rotate(45deg);
}

.nav-item .dropdown-item {
    font-size: 1.2rem;
    position: relative;
    color: var(--heading-color);
    padding-top: 0;
    padding-bottom: 14px;
    width: 100px;
    background-color: var(--bg-color);
    transition: all 0.4s;
}


#switchMoonSun:focus {
    box-shadow: none;
}

.mode-container {
    width: 35px;
    height: 35px;
    padding: 3px 0;
    margin-left: 20px;
    background-color: transparent;
    border: transparent;
}

.mode-container i {
    color: var(--heading-color);
    transform: rotate(342deg);
    font-size: 20px;
}

.navbar-toggler {
    color: #fff;
    background-color: #189A46;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Carousel */

.carousel-caption {
    margin-left: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    opacity: .6;
}

.carousel-item h5 {
    max-width: 700px;
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}

.carousel-item p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
    opacity: 0.9;
    font-size: 1.2rem;
}

.carousel-item .btn {
    background-color: #fff;
    color: #189A46;
    border: 2px solid #fff;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: var(--border-radius);
}

.carousel-item .btn-success {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}

.carousel-item .btn-success:hover {
    background-color: #fff;
    color: #189A46;
}

.carousel-item img {
    width: 100vw;
    height: calc(100vh - 40px);
    object-fit: cover;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0px 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 0;
}

.carousel-indicators .active {
    background-color: #189A46;
    width: 30px;
    height: 10px;
    border-radius: 15px;
}

.carousel-caption2,
.carousel-caption4 {
    margin-left: 25%;
}

/* Aboutus */

.aboutus {
    background-color: var(--bg-color);
}

.aboutus-content {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.title h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
    letter-spacing: 1px;
    line-height: 2em;
}

.title h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
}

.title p {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}

.read {
    font-size: 17px;
    color: var(--heading-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s;
}

.read:hover {
    color: var(--primary-color);
}

/* Features */

.features {
    background-color: var(--bg-light);
}

.features-item {
    padding: 40px 30px;
    background-color: var(--bg-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    transition: all 0.5s;
}

.features-item:hover {
    background-color: var(--bg-light);
}

.features-item i {
    color: var(--primary-color);
    font-size: 30px;
}

.features-item h4  a {
    color: var(--heading-color);
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    transition: all 0.5s;
}

.features-item h4  a:hover {
    color: var(--primary-color);
}

.features-item p {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}

/* Choose */

.choose {
    background-color: var(--bg-color);
}

.choose img {
    border-radius: 10px;
}

.choose .title p {
    font-size: 16px;
    line-height: 24.5px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.title li {
    color: var(--heading-color);
    line-height: 26px;
    margin: 15px 0;
    font-weight: 600;
}

.title li i {
    color: var(--primary-color);
    background: var(--bg-light);
    font-size: 10px;
    margin-right: 12px;
    padding: 8px;
    border-radius: 50%;
}

/* Number */

.number {
    background-color: var(--primary-color);
}

.number-item {
    width: 25%;
    padding: 0;
    text-align: center;
}

.number-item p {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 30px;
}

.number-item h4 {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 10px;
}


/************** RESPONSIVE **************/
/* Global */

@media (max-width: 1200px) {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

/* Header */

@media (min-width:1280px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 991px) {
    header {
        height: auto;
        padding: 15px 0;
    }

    .theme {
        position: absolute;
        right: 40px;
        top: 5px;
        padding-right: 8px;
    }

    .navbar-nav {
        padding: 20px 0;
        text-align: center;
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    .navbar-nav .nav-item .nav-link {
        display: inline-block;
        padding: 6px 0;
    }

    .navbar-nav .nav-item .nav-link:hover::before,
    .navbar-nav .nav-item .nav-link::before,
    .navbar-nav .nav-item .dropdown-menu .dropdown-item::before {
        width: 0;
    }

    .navbar-nav .nav-item .nav-link i {
        bottom: 12px;
        margin-right: -3px;
    }

    .navbar-nav .nav-item .dropdown-menu {
        width: 100%;
        transform: translateX(0);
    }

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        width: auto;
        text-align: center;
        display: block;
    }

}

@media  screen and (max-width:480px) {
    .navbar .navbar-brand {
        font-size: 30px;
    }

    .theme {
        top: 0px
    };
}


/* Carousel */

@media screen and (max-width:1200px) {
    .carousel-item h5 {
        font-size: 52px;
        line-height: 62px;
    }

    .carousel-item p {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    .carousel-caption2, .carousel-caption4 {
        margin-left: 0;
    }

    .carousel-item h5 {
        font-size: 50px;
        line-height: 55px;
    }
}

@media screen and (max-width:768px) {
    .carousel-item p {
        font-size: 16px;
    }

    .carousel-item img {
        height: 580px;
    }
}

@media screen and (max-width:600px) {
    .carousel-item img {
        height: 500px;
    }
}

@media screen and (max-width:490px) {
    .carousel-item h5 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width:400px) {
    .carousel-item img {
        height: 400px;
    }
}

@media screen and (max-width:350px) {
    .carousel-caption {
        height: 48vh;
    }

    .carousel-item .btn {
        margin-top: 0 !important;
        margin-bottom: 15px;
    }

    .carousel-caption2, .carousel-caption4 {
        height: 60vh;
    }
}

/* Aboutus */

@media screen and (max-width: 1080px) {
    .title h3 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .aboutus-content {
        width: auto;
    }

    /* .title h3 {
        font-size: 32px;
        line-height: 38px;
    } */
}

@media screen and (max-width: 400px) {
    .title h3 {
        font-size: 27px;
        line-height: 32px;
    }
}

/* Choose */

@media screen and (max-width: 992px) {
    .choose img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .title h3 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media screen and (max-width: 378px) {
    .title h3 {
        font-size: 27px;
        line-height: 32px;
    }
}

/* Number */

@media screen and (max-width: 992px) {
    .number-content p {
        font-size: 40px;
        line-height: 55px;
    }

    .number-content h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 737px) {
    .number-content p {
        font-size: 35px;
        line-height: 38px;
        margin-top: 20px;
    }

    .number-content h4 {
        font-size: 17px;
    }
}



























.plans-pricing-7-main {
    background: var(--bg-light);
  }
  
  .plans-pricing-7-main h3.heading {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
  
  .plans-pricing-7-main .pricing-sec-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
  }
  
  .plans-pricing-7-main ul.links {
    min-height: 120px;
  }
  
  .plans-pricing-7-bottom {
    text-align: center;
    padding-top: 1em;
  }
  
  .plans-pricing-7-top {
    text-align: center;
  }
  
  .plans-pricing-7-main h5 {
    font-size: 15px;
    line-height: 20px;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: var(--border-radius);
  }
  
  .plans-pricing-7-main .pricing-gd-left.active h6,
  .plans-pricing-7-main .pricing-gd-left.active h4 {
    color: #fff;
  }
  
  .plans-pricing-7-main .pricing-gd-left.active h4 span {
    color: #eee;
  }
  
  .plans-pricing-7-main h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
  }
  
  .pricing-gd-left.pric-7.active .btn-style {
    color: #fff;
    background: var(--primary-color);
  }
  
  .plans-pricing-7-main p.para {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
  }
  
  .pricing-gd-left.pric-7.active p.para {
    color: #eee;
  }
  
  .plans-pricing-7-main h4 label {
    font-size: 25px;
    vertical-align: text-top;
  }
  
  .plans-pricing-7-main h4 {
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color: var(--primary-color);
  }
  
  .plans-pricing-7-main h4 span {
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
  }
  
  .plans-pricing-7-main p.lists {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
  }
  
  .plans-pricing-7-main ul.links li {
    list-style: none;
    margin-bottom: 5px;
    color: #304659;
  }
  
  .plans-pricing-7-main .pricing-gd-left {
    background: var(--bg-color);
    border-radius: 6px;
    align-self: center;
  }
  
  .pricing-gd-left.pric-7.active .plans-pricing-7-top {
    padding: 3em 2.5em .5em;
    background: var(--primary-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  .pricing-gd-left.pric-7.active .plans-pricing-7-bottom {
    padding: 2em 2.5em 3.5em;
  }
  
  .plans-pricing-7-main .pric-7-1 .plans-pricing-7 {
    padding: 3.5em 2.5em;
    border-right: 0;
  }
  
  .plans-pricing-7-main .pric-7-2 .plans-pricing-7 {
    padding: 3.5em 2.5em;
    border-left: 0;
  }
  
  .plans-pricing-7-main .pricing-gd-left.active {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgba(17, 17, 17, 0.09);
    border-radius: 6px;
  }
  
  .plans-pricing-7-main .buy-button {
    margin-top: 2em;
  }
  
  .plans-pricing-7-main .copy-right p {
    color: #ccc;
    font-size: 17px;
  }
  
  .plans-pricing-7-main .copy-right p a {
    color: #fff;
  }
  
  .plans-pricing-7-main .copy-right p a:hover {
    color: var(--primary-color);
  }
  
  @media (max-width: 1366px) {
    .plans-pricing-7-main .pricing-sec-7 {
      width: 90%;
    }
  }
  
  @media (max-width: 800px) {
    .plans-pricing-7-main .pricing-sec-7 {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin: 50px auto 0;
    }
  
    .plans-pricing-7-main .pric-7-1 {
      border: 1px solid var(--border-light);
    }
  
    .plans-pricing-7-main .pric-7-2 {
      border: 1px solid var(--border-light);
    }
  
    .plans-pricing-7-main .pricing-sec-7 {
      width: 60%;
    }
  
    .plans-pricing-7-main .pricing-gd-left.active {
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
    }
  }
  
  @media (max-width: 768px) {
    .plans-pricing-7-main .pricing-sec-7 {
      width: 75%;
    }
  
    .plans-pricing-7-main h3.heading {
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 600px) {
    .plans-pricing-7-main p.pric-foot {
      margin-top: 25px;
    }
  }
  
  @media (max-width: 568px) {
    .plans-pricing-7-main .pricing-7-sec h2 {
      margin-bottom: 1.3em;
    }
  
    .plans-pricing-7-main .pricing-sec-7 {
      grid-gap: 20px;
      margin: 30px auto;
    }
  }
  
  @media (max-width: 480px) {
    .plans-pricing-7-main .pricing-sec-7 {
      width: 80%;
    }
  }
  
  @media (max-width: 415px) {
    .plans-pricing-7-main .pricing-sec-7 {
      width: 100%;
    }
  
    .plans-pricing-7-main .copy-right p {
      font-size: 16px;
    }
  
    .plans-pricing-7-main h3.heading {
      font-size: 30px;
      line-height: 35px;
    }
  }
  
  @media (max-width: 375px) {
    .plans-pricing-7-main h3.heading {
      font-size: 28px;
      line-height: 33px;
    }
  }
  .nutrition-index5 {
    background: var(--bg-color);
  }
  
  .nutrition-index5 .new-block {
    display: grid;
    align-items: center;
    padding: 2rem 0;
  }
  
  .nutritionl-index5 .middle-section {
    max-width: 950px;
    margin: 0 auto;
  }
  
  .nutrition-index5 .middle-section h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 500;
  }
  
  .nutrition-index5 span.video-play-icon {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
  }
  
  .nutrition-index5 span.video-play-icon span {
    color: var(--primary-color);
  }
  
  .nutrition-index5 span.video-play-icon:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  
  .nutrition-index5 span.fa.fa-play {
    line-height: 55px;
  }
  
  .nutrition-index5 .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
  }
  
  @media (max-width: 800px) {
    .nutrition-index5 .middle-section h2 {
      font-size: 40px;
      line-height: 50px;
    }
  }
  
  @media (max-width: 667px) {
    .nutrition-index5 .middle-section h2 {
      font-size: 32px !important;
      line-height: 42px;
    }
    .nutrition-index5 .play-view {
        left: 0;
        right: 0;
        top: calc(50% - 28px);
    }
  }
  .owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
  }
  
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 2px;
    background: #d8d8d8;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
  }
  
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--primary-color);
    width: 30px;
    height: 10px;
  }
  
  .testimonial-clients {
    background: var(--bg-light);
  }
  
  .testimonial-clients .testimonial {
    position: relative;
    overflow: hidden;
    text-align: left;
  }
  
  .testimonial-clients .testimonial-width {
    max-width: 1050px;
    margin: auto;
  }
  
  .testimonial-clients .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
  }
  
  .testimonial-clients .testi-des {
    display: flex;
    text-align: center;
  }
  
  .testimonial-clients blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color: var(--para-color);
  }
  
  .testimonial-clients blockquote q::before {
    font-size: 50px;
    color: var(--primary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
  }
  
  .testimonial-clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: var(--bg-color);
    border-radius: 50%;
  }
  
  .testimonial-clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .testimonial-clients .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
  }
  
  .testimonial-clients .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left;
  }
  
  .testimonial-clients .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
  
  .testimonial-clients p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
  }
  @media (max-width: 667px) {
    .owl-two.owl-carousel.owl-theme .owl-dots {
      position: inherit;
      left: 0px;
      right: 0px;
      bottom: 30px;
      margin-top: 80px;
      display: none;
    }
  }

