/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: 'Jost', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: #189A46;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #000c04;
    font-weight: 600;
}

:root {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
}

.dark {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}

/* Light theme */
#switchMoonSun .fa-sun {
    display: none;
}

#switchMoonSun .fa-moon {
    display: block;
}

/* Dark Theme*/
.dark #switchMoonSun .fa-sun {
    display: block;
}
  
.dark #switchMoonSun .fa-moon {
    display: none;
}


/* Icon bars */
#switchBarTime .fa-bars {
    display: block;
}

#switchBarTime .fa-times {
    display: none;
}

/* Icon times */
.active #switchBarTime .fa-bars {
    display: none;
}
  
.active #switchBarTime .fa-times {
    display: block;
}



/* Header */

.fixed-top {
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 100;
}

header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}    

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-weight: 600;
    color: var(--primary-color);
}

.navbar .nav-item {
    padding: 0 12px;
}

.navbar .navbar-collapse .nav-link {
    color: var(--heading-color);
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    transition: all 0.3s;
}

.navbar .navbar-collapse .nav-link::before,
.nav-item .dropdown-item::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1.5px;
    background: var(--primary-color);
    bottom: 13px;
    transition: all 0.4s;
}

.navbar .navbar-collapse .nav-link:hover::before,
.nav-item .dropdown-item:hover::before {
    width: 100%;
}

.navbar .navbar-collapse .active a {
    color: var(--primary-color);
}

.navbar .navbar-collapse .nav-link:hover,
.nav-item .dropdown-item:hover {
    color: var(--primary-color);
}

.dropdown-toggle::after {
    display: none;
}

.navbar .dropdown-toggle i {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    padding-right: 2px;
    right: -12px;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.dropdown-menu {
    border-radius: 10px;
    width: 13rem;
    padding: 1rem 0 0.3rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    top: -7px;
    left: 50%;
    border-right: 0;
    border-bottom: 0;
    transform: translateX(-50%) rotate(45deg);
}

.nav-item .dropdown-item {
    font-size: 1.2rem;
    position: relative;
    color: var(--heading-color);
    padding-top: 0;
    padding-bottom: 14px;
    width: 100px;
    background-color: var(--bg-color);
    transition: all 0.4s;
}


#switchMoonSun:focus {
    box-shadow: none;
}

.mode-container {
    width: 35px;
    height: 35px;
    padding: 3px 0;
    margin-left: 20px;
    background-color: transparent;
    border: transparent;
}

.mode-container i {
    color: var(--heading-color);
    transform: rotate(342deg);
    font-size: 20px;
}

.navbar-toggler {
    color: #fff;
    background-color: #189A46;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Carousel */

.carousel-caption {
    margin-left: auto;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    opacity: .6;
}

.carousel-item h5 {
    max-width: 700px;
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
}

.carousel-item p {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
    opacity: 0.9;
    font-size: 1.2rem;
}

.carousel-item .btn {
    background-color: #fff;
    color: #189A46;
    border: 2px solid #fff;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: var(--border-radius);
}

.carousel-item .btn-success {
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}

.carousel-item .btn-success:hover {
    background-color: #fff;
    color: #189A46;
}

.carousel-item img {
    width: 100vw;
    height: calc(100vh - 40px);
    object-fit: cover;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    margin: 0px 6px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 0;
}

.carousel-indicators .active {
    background-color: #189A46;
    width: 30px;
    height: 10px;
    border-radius: 15px;
}

.carousel-caption2,
.carousel-caption4 {
    margin-left: 25%;
}

/* Aboutus */

.aboutus {
    background-color: var(--bg-color);
}

.aboutus-content {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.title h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-color);
    letter-spacing: 1px;
    line-height: 2em;
}

.title h3 {
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
}

.title p {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}

.read {
    font-size: 17px;
    color: var(--heading-color);
    border-bottom: 2px solid var(--primary-color);
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    transition: all 0.3s;
}

.read:hover {
    color: var(--primary-color);
}

/* Features */

.features {
    background-color: var(--bg-light);
}

.features-item {
    padding: 40px 30px;
    background-color: var(--bg-color);
    border: var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    transition: all 0.5s;
}

.features-item:hover {
    background-color: var(--bg-light);
}

.features-item i {
    color: var(--primary-color);
    font-size: 30px;
}

.features-item h4  a {
    color: var(--heading-color);
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    transition: all 0.5s;
}

.features-item h4  a:hover {
    color: var(--primary-color);
}

.features-item p {
    margin: 0;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}

/* Choose */

.choose {
    background-color: var(--bg-color);
}

.choose img {
    border-radius: 10px;
}

.title li {
    color: var(--heading-color);
    line-height: 26px;
    margin: 15px 0;
    font-weight: 600;
}

.title li i {
    color: var(--primary-color);
    background: var(--bg-light);
    font-size: 10px;
    margin-right: 12px;
    padding: 8px;
    border-radius: 50%;
}

/* Number */

.number {
    background-color: var(--primary-color);
}

.number-item {
    width: 25%;
    padding: 0;
    text-align: center;
}

.number-item {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 0;
    margin-top: 30px;
}

.number-item h4 {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 10px;
}


/************** RESPONSIVE **************/
/* Global */

@media (max-width: 1200px) {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
}

/* Header */

@media (min-width:1280px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 991px) {
    header {
        height: auto;
        padding: 15px 0;
    }

    .theme {
        position: absolute;
        right: 40px;
        top: 5px;
        padding-right: 8px;
    }

    .navbar-nav {
        padding: 20px 0;
        text-align: center;
    }

    .navbar-nav .nav-item {
        padding: 0;
    }

    .navbar-nav .nav-item .nav-link {
        display: inline-block;
        padding: 6px 0;
    }

    .navbar-nav .nav-item .nav-link:hover::before,
    .navbar-nav .nav-item .nav-link::before,
    .navbar-nav .nav-item .dropdown-menu .dropdown-item::before {
        width: 0;
    }

    .navbar-nav .nav-item .nav-link i {
        bottom: 12px;
        margin-right: -3px;
    }

    .navbar-nav .nav-item .dropdown-menu {
        width: 100%;
        transform: translateX(0);
    }

    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        width: auto;
        text-align: center;
        display: block;
    }

}

@media  screen and (max-width:480px) {
    .navbar .navbar-brand {
        font-size: 30px;
    }

    .theme {
        top: 0px
    };
}


/* Carousel */

@media screen and (max-width:1200px) {
    .carousel-item h5 {
        font-size: 52px;
        line-height: 62px;
    }

    .carousel-item p {
        font-size: 15px;
    }
}

@media screen and (max-width:992px) {
    .carousel-caption2, .carousel-caption4 {
        margin-left: 0;
    }

    .carousel-item h5 {
        font-size: 50px;
        line-height: 55px;
    }
}

@media screen and (max-width:768px) {
    .carousel-item p {
        font-size: 16px;
    }

    .carousel-item img {
        height: 580px;
    }
}

@media screen and (max-width:600px) {
    .carousel-item img {
        height: 500px;
    }
}

@media screen and (max-width:490px) {
    .carousel-item h5 {
        font-size: 32px;
        line-height: 42px;
    }
}

@media screen and (max-width:400px) {
    .carousel-item img {
        height: 400px;
    }
}

@media screen and (max-width:350px) {
    .carousel-caption {
        height: 48vh;
    }

    .carousel-item .btn {
        margin-top: 0 !important;
        margin-bottom: 15px;
    }

    .carousel-caption2, .carousel-caption4 {
        height: 60vh;
    }
}

/* Aboutus */

@media screen and (max-width: 1080px) {
    .title h3 {
        font-size: 35px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .aboutus-content {
        width: auto;
    }

    .title h3 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media screen and (max-width: 400px) {
    .title h3 {
        font-size: 27px;
        line-height: 32px;
    }
}



